[user]
	name = Casey Patrick Driscoll
	email = caseypatrickdriscoll@me.com
[color]
    ui = true
[core]
	editor = vim
[alias]
  b = branch
  m = merge
	co = checkout
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[push]
	default = simple
