[user]
  name = Casey Patrick Driscoll
  email = caseypatrickdriscoll@me.com
[color]
  ui = true
[core]
  editor = vim
[alias]
  b = branch
  c = commit
  d = diff
  m = merge
  co = checkout
  ci = commit
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[filter "media"]
	clean = git media clean %f
	smudge = git media smudge %f
	required = true
[push]
  default = simple
